<!DOCTYPE html>
<html>
<head>
<style>.center {
  text-align: center;
  border: 3px solid black;}
h1{
background-color:#483D8B;
color:white;
font-size:3em;
font-family: Verdana;
p.inset {border-style: inset;
}
</style>
</head>
